//! **************************************************************************
// Written by: Map P.20131013 on Wed May 20 22:22:36 2020
//! **************************************************************************

SCHEMATIC START;
NET "CKHT_BUFGP/IBUFG" BEL "CKHT_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

