//! **************************************************************************
// Written by: Map P.20131013 on Wed Jul 01 23:05:11 2020
//! **************************************************************************

SCHEMATIC START;
COMP "LED<0>" LOCATE = SITE "P92" LEVEL 1;
COMP "BTN<0>" LOCATE = SITE "P56" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P88" LEVEL 1;
COMP "BTN<1>" LOCATE = SITE "P57" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P87" LEVEL 1;
COMP "CKHT" LOCATE = SITE "P55" LEVEL 1;
SCHEMATIC END;

