//! **************************************************************************
// Written by: Map P.20131013 on Sun Aug 23 07:41:24 2020
//! **************************************************************************

SCHEMATIC START;
COMP "CKHT" LOCATE = SITE "P55" LEVEL 1;
COMP "LCD_E" LOCATE = SITE "P133" LEVEL 1;
COMP "sseg<0>" LOCATE = SITE "P119" LEVEL 1;
COMP "sseg<1>" LOCATE = SITE "P116" LEVEL 1;
COMP "sseg<2>" LOCATE = SITE "P118" LEVEL 1;
COMP "sseg<3>" LOCATE = SITE "P124" LEVEL 1;
COMP "sseg<4>" LOCATE = SITE "P121" LEVEL 1;
COMP "sseg<5>" LOCATE = SITE "P117" LEVEL 1;
COMP "sseg<6>" LOCATE = SITE "P115" LEVEL 1;
COMP "sseg<7>" LOCATE = SITE "P120" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P92" LEVEL 1;
COMP "BTN<0>" LOCATE = SITE "P56" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P88" LEVEL 1;
COMP "BTN<1>" LOCATE = SITE "P57" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P87" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P85" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P84" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P83" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P82" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P81" LEVEL 1;
COMP "LCD_RS" LOCATE = SITE "P131" LEVEL 1;
COMP "anode<0>" LOCATE = SITE "P100" LEVEL 1;
COMP "anode<1>" LOCATE = SITE "P99" LEVEL 1;
COMP "anode<2>" LOCATE = SITE "P102" LEVEL 1;
COMP "anode<3>" LOCATE = SITE "P101" LEVEL 1;
COMP "anode<4>" LOCATE = SITE "P9" LEVEL 1;
COMP "anode<5>" LOCATE = SITE "P10" LEVEL 1;
COMP "anode<6>" LOCATE = SITE "P11" LEVEL 1;
COMP "anode<7>" LOCATE = SITE "P12" LEVEL 1;
COMP "LCD_DB<0>" LOCATE = SITE "P138" LEVEL 1;
COMP "LCD_DB<1>" LOCATE = SITE "P137" LEVEL 1;
COMP "LCD_DB<2>" LOCATE = SITE "P140" LEVEL 1;
COMP "LCD_DB<3>" LOCATE = SITE "P139" LEVEL 1;
COMP "LCD_DB<4>" LOCATE = SITE "P142" LEVEL 1;
COMP "LCD_DB<5>" LOCATE = SITE "P141" LEVEL 1;
COMP "LCD_DB<6>" LOCATE = SITE "P1" LEVEL 1;
COMP "LCD_DB<7>" LOCATE = SITE "P143" LEVEL 1;
COMP "DS18B20" LOCATE = SITE "P98" LEVEL 1;
SCHEMATIC END;

