//! **************************************************************************
// Written by: Map P.20131013 on Wed Aug 05 15:44:14 2020
//! **************************************************************************

SCHEMATIC START;
COMP "LCD_RS" LOCATE = SITE "P131" LEVEL 1;
COMP "CKHT" LOCATE = SITE "P55" LEVEL 1;
COMP "BTN0" LOCATE = SITE "P56" LEVEL 1;
COMP "LCD_E" LOCATE = SITE "P133" LEVEL 1;
COMP "LCD_DB<4>" LOCATE = SITE "P142" LEVEL 1;
COMP "LCD_DB<5>" LOCATE = SITE "P141" LEVEL 1;
COMP "LCD_DB<6>" LOCATE = SITE "P1" LEVEL 1;
COMP "LCD_DB<7>" LOCATE = SITE "P143" LEVEL 1;
SCHEMATIC END;

