//! **************************************************************************
// Written by: Map P.20131013 on Sun Jan 29 08:55:39 2023
//! **************************************************************************

SCHEMATIC START;
COMP "UART_RXD" LOCATE = SITE "C5" LEVEL 1;
COMP "UART_TXD" LOCATE = SITE "B6" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P6" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

