//! **************************************************************************
// Written by: Map P.20131013 on Fri Jun 26 12:43:56 2020
//! **************************************************************************

SCHEMATIC START;
COMP "SSEG<0>" LOCATE = SITE "P119" LEVEL 1;
COMP "SSEG<1>" LOCATE = SITE "P116" LEVEL 1;
COMP "SSEG<2>" LOCATE = SITE "P118" LEVEL 1;
COMP "SSEG<3>" LOCATE = SITE "P124" LEVEL 1;
COMP "SSEG<4>" LOCATE = SITE "P121" LEVEL 1;
COMP "SSEG<5>" LOCATE = SITE "P117" LEVEL 1;
COMP "SSEG<6>" LOCATE = SITE "P115" LEVEL 1;
COMP "SSEG<7>" LOCATE = SITE "P120" LEVEL 1;
COMP "CKHT" LOCATE = SITE "P55" LEVEL 1;
COMP "LED0" LOCATE = SITE "P92" LEVEL 1;
COMP "BTN<0>" LOCATE = SITE "P56" LEVEL 1;
COMP "BTN<1>" LOCATE = SITE "P57" LEVEL 1;
COMP "BTN<2>" LOCATE = SITE "P58" LEVEL 1;
COMP "BTN<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "ANODE<0>" LOCATE = SITE "P100" LEVEL 1;
COMP "ANODE<1>" LOCATE = SITE "P99" LEVEL 1;
COMP "ANODE<2>" LOCATE = SITE "P102" LEVEL 1;
COMP "ANODE<3>" LOCATE = SITE "P101" LEVEL 1;
COMP "ANODE<4>" LOCATE = SITE "P9" LEVEL 1;
COMP "ANODE<5>" LOCATE = SITE "P10" LEVEL 1;
COMP "ANODE<6>" LOCATE = SITE "P11" LEVEL 1;
COMP "ANODE<7>" LOCATE = SITE "P12" LEVEL 1;
SCHEMATIC END;

