NET "CLK" LOC = P55;
NET "POUT[23]" LOC = P12;
NET "POUT[22]" LOC = P10;
NET "POUT[21]" LOC = P8;
NET "POUT[20]" LOC = P6;
NET "POUT[19]" LOC = P2;
NET "POUT[18]" LOC = P143;
NET "POUT[17]" LOC = P141;
NET "POUT[16]" LOC = P139;
NET "POUT[15]" LOC = P137;
NET "POUT[14]" LOC = P133;
NET "POUT[13]" LOC = P131;
NET "POUT[12]" LOC = P126;
NET "POUT[11]" LOC = P121;
NET "POUT[10]" LOC = P119;
NET "POUT[9]" LOC = P117;
NET "POUT[8]" LOC = P115;
NET "POUT[7]" LOC = P112;
NET "POUT[6]" LOC = P114;
NET "POUT[5]" LOC = P116;
NET "POUT[4]" LOC = P118;
NET "POUT[3]" LOC = P120;
NET "POUT[2]" LOC = P124;
NET "POUT[1]" LOC = P127;
NET "POUT[0]" LOC = P132;