//! **************************************************************************
// Written by: Map P.20131013 on Fri May 22 16:51:35 2020
//! **************************************************************************

SCHEMATIC START;
NET "CKHT_BUFGP/IBUFG" BEL "CKHT_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

