//! **************************************************************************
// Written by: Map P.20131013 on Wed Jun 10 19:51:14 2020
//! **************************************************************************

SCHEMATIC START;
COMP "LED" LOCATE = SITE "P85" LEVEL 1;
COMP "CKHT" LOCATE = SITE "P55" LEVEL 1;
SCHEMATIC END;

