# PlanAhead Generated physical constraints 
#NET "led_n[0]" LOC = P49;
#NET "led_n[1]" LOC = P48;
#NET "led_n[2]" LOC = P40;
#NET "led_n[3]" LOC = P50;
#NET "led_n[4]" LOC = P62;
#NET "led_n[5]" LOC = P98;
#NET "led_n[6]" LOC = P64;
#NET "led_n[7]" LOC = P63;

#NET "led[0]" LOC = P150;
#NET "led[1]" LOC = P151;
#NET "led[2]" LOC = P152;
#NET "led[3]" LOC = P153;

##NET "led_n[8]" LOC = P47;  #--tin hieu gia
##NET "led_n[9]" LOC = P45;	#--tin hieu gia

#NET "sw[0]" LOC = P43;
#NET "sw[1]" LOC = P110;
#NET "sw[2]" LOC = P118;
#NET "sw[3]" LOC = P124;
#NET "sw[4]" LOC = P130;
#NET "sw[5]" LOC = P136;
#NET "sw[6]" LOC = P142;
#NET "sw[7]" LOC = P148;
##
NET "btn_n[0]" LOC = P54;
NET "btn_n[1]" LOC = P58;
#NET "btn_n[2]" LOC = P57;
#NET "btn_n[3]" LOC = P159;
#NET "btn_n[4]" LOC = P154;

#
#NET "led_n0" LOC = P49;
#NET "led0" LOC = P150;
NET "CKHT" LOC = P183;
#NET "btn_n0" LOC = P54;
#NET "sw0" LOC = P43;
##NET "HWX" LOC = P42;
#NET "DS18B20" LOC = P41;
NET "BELL" LOC = P89;

NET "sseg[0]" LOC = P49;
NET "sseg[1]" LOC = P48;
NET "sseg[2]" LOC = P40;
NET "sseg[3]" LOC = P50;
NET "sseg[4]" LOC = P62;
NET "sseg[5]" LOC = P98;
NET "sseg[6]" LOC = P64;
NET "sseg[7]" LOC = P63;
###
NET "anode[0]" LOC = P77;
NET "anode[1]" LOC = P68;
NET "anode[2]" LOC = P65;
NET "anode[3]" LOC = P74;
NET "anode[4]" LOC = P69;
NET "anode[5]" LOC = P76;
NET "anode[6]" LOC = P78;
NET "anode[7]" LOC = P75;

#--GIAO TIEP DK LCD
#NET "lcd_db[0]" LOC = P49;
#NET "lcd_db[1]" LOC = P48;
#NET "lcd_db[2]" LOC = P40;
#NET "lcd_db[3]" LOC = P50;
#NET "lcd_db[4]" LOC = P62;
#NET "lcd_db[5]" LOC = P98;
#NET "lcd_db[6]" LOC = P64;
#NET "lcd_db[7]" LOC = P63;
#
#NET "lcd_e" LOC = P65;
#NET "lcd_rs" LOC = P77;
#NET "lcd_rw" LOC = P68;


#--GIAO TIEP DK LED MA TRAN
#NET "COT[0]" LOC = P49;
#NET "COT[1]" LOC = P48;
#NET "COT[2]" LOC = P40;
#NET "COT[3]" LOC = P50;
#NET "COT[4]" LOC = P62;
#NET "COT[5]" LOC = P98;
#NET "COT[6]" LOC = P64;
#NET "COT[7]" LOC = P63;

#NET "HANG[0]" LOC = P94;
#NET "HANG[1]" LOC = P65;
#NET "HANG[2]" LOC = P69;
#NET "HANG[3]" LOC = P78;
#NET "HANG[4]" LOC = P68;
#NET "HANG[5]" LOC = P74;
#NET "HANG[6]" LOC = P76;
#NET "HANG[7]" LOC = P75;

#--GIAO TIEP SRAN
#NET "ADDR[0]" LOC = P34;
#NET "ADDR[1]" LOC = P35;
#NET "ADDR[2]" LOC = P36;
#NET "ADDR[3]" LOC = P39;
#NET "ADDR[4]" LOC = P5;
#NET "ADDR[5]" LOC = P4;
#NET "ADDR[6]" LOC = P6;
#NET "ADDR[7]" LOC = P2;

#NET "ADDR[8]" LOC = P205;
#NET "ADDR[9]" LOC = P203;
#NET "ADDR[10]" LOC = P167;
#NET "ADDR[11]" LOC = P168;
#NET "ADDR[12]" LOC = P171;
#NET "ADDR[13]" LOC = P172;
#NET "ADDR[14]" LOC = P177;
#NET "ADDR[15]" LOC = P162;
#NET "ADDR[16]" LOC = P161;
#NET "ADDR[17]" LOC = P160;

#NET "DATA[0]" LOC = P9;
#NET "DATA[1]" LOC = P11;
#NET "DATA[2]" LOC = P12;
#NET "DATA[3]" LOC = P15;
#NET "DATA[4]" LOC = P16;
#NET "DATA[5]" LOC = P18;
#NET "DATA[6]" LOC = P19;
#NET "DATA[7]" LOC = P22;

#NET "DATA[8]" LOC = P196;
#NET "DATA[9]" LOC = P192;
#NET "DATA[10]" LOC = P193;
#NET "DATA[11]" LOC = P189;
#NET "DATA[12]" LOC = P190;
#NET "DATA[13]" LOC = P187;
#NET "DATA[14]" LOC = P181;
#NET "DATA[15]" LOC = P180;

#NET "CE" LOC = P179;
#NET "WE" LOC = P8;
#NET "OE" LOC = P163
#NET "UB" LOC = P164;
#NET "LB" LOC = P165;

#--GIAO TIEP DS1302
#NET "DS_CLK" LOC = P99;
#NET "DS_DATA" LOC = P100;
#NET "DS_RESET" LOC = P96;

#--GIAO TIEP EEPROM 
#NET "SCL" LOC = P47;
#NET "SDA" LOC = P45;

#--GIAO RS232 
#NET "RX" LOC = P83;
#NET "TX" LOC = P82;

#--GIAO PS/2 
#NET "PS2_DATA" LOC = P30;
#NET "PS2_CLK" LOC = P105;
