//! **************************************************************************
// Written by: Map P.20131013 on Wed Nov 01 11:20:01 2017
//! **************************************************************************

SCHEMATIC START;
COMP "SSEG<0>" LOCATE = SITE "P49" LEVEL 1;
COMP "SSEG<1>" LOCATE = SITE "P48" LEVEL 1;
COMP "SSEG<2>" LOCATE = SITE "P40" LEVEL 1;
COMP "SSEG<3>" LOCATE = SITE "P50" LEVEL 1;
COMP "SSEG<4>" LOCATE = SITE "P62" LEVEL 1;
COMP "SSEG<5>" LOCATE = SITE "P98" LEVEL 1;
COMP "SSEG<6>" LOCATE = SITE "P64" LEVEL 1;
COMP "SSEG<7>" LOCATE = SITE "P63" LEVEL 1;
COMP "BELL" LOCATE = SITE "P89" LEVEL 1;
COMP "CKHT" LOCATE = SITE "P183" LEVEL 1;
COMP "BTN_N0" LOCATE = SITE "P54" LEVEL 1;
COMP "ANODE<0>" LOCATE = SITE "P77" LEVEL 1;
COMP "ANODE<1>" LOCATE = SITE "P68" LEVEL 1;
COMP "ANODE<2>" LOCATE = SITE "P65" LEVEL 1;
COMP "ANODE<3>" LOCATE = SITE "P74" LEVEL 1;
COMP "ANODE<4>" LOCATE = SITE "P69" LEVEL 1;
COMP "ANODE<5>" LOCATE = SITE "P76" LEVEL 1;
COMP "ANODE<6>" LOCATE = SITE "P78" LEVEL 1;
COMP "ANODE<7>" LOCATE = SITE "P75" LEVEL 1;
COMP "DS18B20" LOCATE = SITE "P41" LEVEL 1;
NET "CKHT_BUFGP/IBUFG" BEL "CKHT_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

