NET "sw[0]" LOC = P175;
NET "sw[1]" LOC = P169;
NET "sw[2]" LOC = P159;
NET "sw[3]" LOC = P154;
NET "sw[4]" LOC = P148;

NET "anode[0]" LOC = P3;
NET "anode[1]" LOC = P2;
NET "anode[2]" LOC = P5;
NET "anode[3]" LOC = P4;
NET "anode[4]" LOC = P8;
NET "anode[5]" LOC = P11;
NET "anode[6]" LOC = P9;
NET "anode[7]" LOC = P12;

NET "sseg[0]" LOC = P16;
NET "sseg[1]" LOC = P15;
NET "sseg[2]" LOC = P19;
NET "sseg[3]" LOC = P18;
NET "sseg[4]" LOC = P22;
NET "sseg[5]" LOC = P24;
NET "sseg[6]" LOC = P23;