

NET "sw0" LOC = P175;



NET "btn0" LOC = P51;

NET "CKHT" LOC = P183;





#NET "lcd_rw" LOC = P203;
#--GIAO TIEP DK LCD

NET "lcd_rs" LOC = P205;
NET "lcd_e" LOC = P203;


NET "lcd_db[0]" LOC = P202;
NET "lcd_db[1]" LOC = P200;
NET "lcd_db[2]" LOC = P199;
NET "lcd_db[3]" LOC = P197;
NET "lcd_db[4]" LOC = P196;
NET "lcd_db[5]" LOC = P193;
NET "lcd_db[6]" LOC = P192;
NET "lcd_db[7]" LOC = P190;
NET "lcd_p" 	 LOC = P189;



#XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
#--GIAO TIEP SRAM IS61LV25616
#XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# ADDRESS BUS 18 BIT

#NET "SRAM_ADDR_O[0]" LOC = P119;
#NET "SRAM_ADDR_O[1]" LOC = P120;
#NET "SRAM_ADDR_O[2]" LOC = P116;
#NET "SRAM_ADDR_O[3]" LOC = P128;
#NET "SRAM_ADDR_O[4]" LOC = P129;
#NET "SRAM_ADDR_O[5]" LOC = P132;
#NET "SRAM_ADDR_O[6]" LOC = P133;		
#NET "SRAM_ADDR_O[7]" LOC = P137;
#NET "SRAM_ADDR_O[8]" LOC = P138;
#NET "SRAM_ADDR_O[9]" LOC = P139;
#NET "SRAM_ADDR_O[10]" LOC = P140;
#NET "SRAM_ADDR_O[11]" LOC = P153;
#NET "SRAM_ADDR_O[12]" LOC = P152;
#NET "SRAM_ADDR_O[13]" LOC = P151;
#NET "SRAM_ADDR_O[14]" LOC = P150;
#NET "SRAM_ADDR_O[15]" LOC = P147;
#NET "SRAM_ADDR_O[16]" LOC = P135;
#NET "SRAM_ADDR_O[17]" LOC = P134;

# DATA BUS 16 BIT

#NET "SRAM_DATA_IO[0]" LOC = P161;
#NET "SRAM_DATA_IO[1]" LOC = P162;
#NET "SRAM_DATA_IO[2]" LOC = P163;
#NET "SRAM_DATA_IO[3]" LOC = P164;
#NET "SRAM_DATA_IO[4]" LOC = P165;
#NET "SRAM_DATA_IO[5]" LOC = P167;
#NET "SRAM_DATA_IO[6]" LOC = P146;
#NET "SRAM_DATA_IO[7]" LOC = P145;
#
#NET "SRAM_DATA_IO[8]"  LOC = P127;
#NET "SRAM_DATA_IO[9]"  LOC = P126;
#NET "SRAM_DATA_IO[10]" LOC = P122;
#NET "SRAM_DATA_IO[11]" LOC = P123;
#NET "SRAM_DATA_IO[12]" LOC = P107;
#NET "SRAM_DATA_IO[13]" LOC = P106;
#NET "SRAM_DATA_IO[14]" LOC = P109;
#NET "SRAM_DATA_IO[15]" LOC = P108;

#CONTROL BUS
#NET "SRAM_OE_N" LOC = P113;
#NET "SRAM_CE_N" LOC = P160;
#NET "SRAM_WE_N" LOC = P144;
#NET "SRAM_UB_N" LOC = P115;
#NET "SRAM_LB_N" LOC = P112;



#XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
#--GIAO TIEP SDRAM IS42S16400
#XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# ADDRESS BUS 18 BIT CHUNG BUS VOI TU A0 DEN A9
#NET "SDRAM_ADDR_O[0]" LOC = P34;
#NET "SDRAM_ADDR_O[1]" LOC = P35;
#NET "SDRAM_ADDR_O[2]" LOC = P36;
#NET "SDRAM_ADDR_O[3]" LOC = P39;
#NET "SDRAM_ADDR_O[4]" LOC = P5;
#NET "SDRAM_ADDR_O[5]" LOC = P4;
#NET "SDRAM_ADDR_O[6]" LOC = P3;		
#NET "SDRAM_ADDR_O[7]" LOC = P2;
#NET "SDRAM_ADDR_O[8]" LOC = P205;
#NET "SDRAM_ADDR_O[9]" LOC = P203;
#
#NET "SDRAM_ADDR_O[10]" LOC = P33;
#NET "SDRAM_ADDR_O[11]" LOC = P202;
#
#NET "SDRAM_BA_O[0]" LOC = P30;
#NET "SDRAM_BA_O[1]" LOC = P31;

# DATA BUS 16 BIT CHUNG VOI SRAM

#NET "SDRAM_DATA_IO[0]" LOC = P9;
#NET "SDRAM_DATA_IO[1]" LOC = P11;
#NET "SDRAM_DATA_IO[2]" LOC = P12;
#NET "SDRAM_DATA_IO[3]" LOC = P15;
#NET "SDRAM_DATA_IO[4]" LOC = P16;
#NET "SDRAM_DATA_IO[5]" LOC = P18;
#NET "SDRAM_DATA_IO[6]" LOC = P19;
#NET "SDRAM_DATA_IO[7]" LOC = P22;
#NET "SDRAM_DATA_IO[8]" LOC = P196;
#NET "SDRAM_DATA_IO[9]" LOC = P192;
#NET "SDRAM_DATA_IO[10]" LOC = P193;
#NET "SDRAM_DATA_IO[11]" LOC = P189;
#NET "SDRAM_DATA_IO[12]" LOC = P190;
#NET "SDRAM_DATA_IO[13]" LOC = P187;
#NET "SDRAM_DATA_IO[14]" LOC = P181;
#NET "SDRAM_DATA_IO[15]" LOC = P180;

#CONTROL BUS
#NET "SDRAM_RAS_N" LOC = P28;
#NET "SDRAM_CAS_N" LOC = P25;
#NET "SDRAM_CS_N" LOC = P29;
#NET "SDRAM_WE_N" LOC = P24;
#NET "SDRAM_LDQM" LOC = P23;
#NET "SDRAM_UDQM" LOC = P197;
#NET "SDRAM_RSCLK" LOC = P200;
#NET "SDRAM_RSCKE" LOC = P199;




#--GIAO RS232 - USB
#NET "RXD_USB" LOC = P174;
#NET "TXD_USB" LOC = P172;
#NET "RXD_SIM" LOC = P69;
#NET "TXD_SIM" LOC = P65;
#NET "RXD_BT" LOC = P64;
#NET "TXD_BT" LOC = P61;
#NET "RXD_WF" LOC = P63;
#NET "TXD_WF" LOC = P68;
#
#NET "hx_ck" LOC = P62;
#NET "hx_dt" LOC = P60;
#NET "kp_ck" LOC = P97;
#NET "kp_dt" LOC = P94;
