//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 17 15:49:40 2019
//! **************************************************************************

SCHEMATIC START;
COMP "BTN" LOCATE = SITE "P51" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P28" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P29" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P30" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P31" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P33" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P34" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P35" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P36" LEVEL 1;
COMP "CKHT" LOCATE = SITE "P183" LEVEL 1;
NET "CKHT_BUFGP/IBUFG" BEL "CKHT_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

