//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 07 13:27:17 2019
//! **************************************************************************

SCHEMATIC START;
COMP "ANODE<0>" LOCATE = SITE "P3" LEVEL 1;
COMP "ANODE<1>" LOCATE = SITE "P2" LEVEL 1;
COMP "BTN" LOCATE = SITE "P51" LEVEL 1;
COMP "ANODE<2>" LOCATE = SITE "P5" LEVEL 1;
COMP "ANODE<3>" LOCATE = SITE "P4" LEVEL 1;
COMP "ANODE<4>" LOCATE = SITE "P8" LEVEL 1;
COMP "ANODE<5>" LOCATE = SITE "P11" LEVEL 1;
COMP "ANODE<6>" LOCATE = SITE "P9" LEVEL 1;
COMP "ANODE<7>" LOCATE = SITE "P12" LEVEL 1;
COMP "SSEG<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "SSEG<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "SSEG<2>" LOCATE = SITE "P19" LEVEL 1;
COMP "SSEG<3>" LOCATE = SITE "P18" LEVEL 1;
COMP "SSEG<4>" LOCATE = SITE "P22" LEVEL 1;
COMP "SSEG<5>" LOCATE = SITE "P24" LEVEL 1;
COMP "SW" LOCATE = SITE "P175" LEVEL 1;
COMP "SSEG<6>" LOCATE = SITE "P23" LEVEL 1;
COMP "SSEG<7>" LOCATE = SITE "P25" LEVEL 1;
COMP "CKHT" LOCATE = SITE "P183" LEVEL 1;
NET "CKHT_BUFGP/IBUFG" BEL "CKHT_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

