//! **************************************************************************
// Written by: Map P.20131013 on Thu Aug 06 21:08:10 2020
//! **************************************************************************

SCHEMATIC START;
COMP "LCD_RS" LOCATE = SITE "P131" LEVEL 1;
COMP "SW1" LOCATE = SITE "P80" LEVEL 1;
COMP "CKHT" LOCATE = SITE "P55" LEVEL 1;
COMP "BTN0" LOCATE = SITE "P56" LEVEL 1;
COMP "LCD_E" LOCATE = SITE "P133" LEVEL 1;
COMP "LCD_DB<0>" LOCATE = SITE "P138" LEVEL 1;
COMP "LCD_DB<1>" LOCATE = SITE "P137" LEVEL 1;
COMP "LCD_DB<2>" LOCATE = SITE "P140" LEVEL 1;
COMP "LCD_DB<3>" LOCATE = SITE "P139" LEVEL 1;
COMP "LCD_DB<4>" LOCATE = SITE "P142" LEVEL 1;
COMP "LCD_DB<5>" LOCATE = SITE "P141" LEVEL 1;
COMP "LCD_DB<6>" LOCATE = SITE "P1" LEVEL 1;
COMP "LCD_DB<7>" LOCATE = SITE "P143" LEVEL 1;
SCHEMATIC END;

