//! **************************************************************************
// Written by: Map P.20131013 on Thu May 21 22:07:33 2020
//! **************************************************************************

SCHEMATIC START;
NET "CKHT_BUFGP/IBUFG" BEL "CKHT_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

